.container{
    width: 1140px;
    margin: 0 auto;
}
.header_inners{
    display: flex;
    justify-content: space-between;
}
.nav_list{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.header_page{
    display: flex;
    justify-content: space-between;
}
.nav_link{
    text-decoration: none; 
    color:#1C1B1B;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;         
}
.nav{
    margin-right: 97px;
}
.nav_item{
    margin-right: 28px;
}
.nav_item:last-child{
    margin: 0px;
}
.shop_now{
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    position: absolute;
    height: 36px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;

}
.shop_now:hover{
    color:white;
    background:#000000;
}
.header-bottom{
    background: #F0EFEB;

}
.icon_info{
    display: flex;
    align-items: center;
}
.bottom_inners{
    display: flex;
}
.bottom_text{
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
}
.bottom_desc{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.many_inners{
    text-align: center;
}
.many_text{
    margin: 60px 0px 27px 0px;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
}
.many_desc{
    margin-bottom: 47px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    
}
.many_work{
    margin-bottom: 88px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.many_words{
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 52px;
}
.text{
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
}
.desc{
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
}
.work{
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
    text-decoration: underline;
    margin-bottom: 248px;
}
.many_bottom{
    display: flex;
}
.many_frame{
    margin-right: 63px;
}
.many_french{
    margin-right: 60px;
}
.cards{
    background:#CCCCCC4D;
}
.cards_work{
    text-decoration: underline;
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
}
.cards_img{
    margin-bottom: 51px;
    margin-top: 76px;
}
.cards_inners{
    display: flex;
}
.cards_word{
    margin-left: 50px;
} .cards_text{
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin-top: 146px;
}
.cards_desc{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    width: 498px;
    height: 252px;
}
.blok{
    background: #CCCCCC99;
}
.blok_inners{
    display: flex;
    margin-right: 50px;
}
.blok_word{
    margin-right: 50px;
    margin-left: 300px;
}
.blok_text{
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin-top: 168px;
}
.blok_desc{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    width: 513px;
    height: 252px;
}
.blok_work{
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
    text-decoration: underline;
}
.blok_img{
    margin-top: 76px;
    margin-bottom: 51px;
}
.square{
    background: #CCCCCC4D;
}
.square_inners{
    display: flex;
}
.square_word{
    margin-left: 50px;
}
.square_text{
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin-top: 168px;
}
.square_desc{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}
.square_work{
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
    text-decoration: underline;
}
.square_img{
    margin-top: 76px;
    margin-bottom: 51px;
}
.main_bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20%;
}
.main_work{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}
.main_header{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    column-gap: 20%;
}
.text1{
    font-weight: 800;
    font-size: 30PX;
    line-height: 36PX;
}

.search_word{
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 102px;
}
.search_bottom{
    display: flex;
}

.search_text{
    font-weight: 800;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.6px; 
    text-align: center
}
.search_desc{
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    text-align: center
}
.search_work{
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: underline;
    text-align: center;
}
.left{
    margin-right: 100px ;
}
.center{
    margin-right: 100px ;
}
.foundation_text{
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.foundation_desc{
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
}
.foundation_square{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foundation_left{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 11px;
    margin-left: 8px;

}
.foundation_right{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 11px;
    margin-left: 8px;
}

.foundation_center{
    margin-top: 13px;
    margin-bottom: 10px;
    margin-left: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.auth_button{
    Width: 115px;
    height: 33px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    margin-left: 150px;
    margin-bottom: 98px;
    
}
.auth_button:hover{
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: white;
    background: #000000;

}
.footer{
    Width: px;
    height: 291px;
    background: #020202;
}
.footer_inners {
    display: flex;
    justify-content: space-between;
}
.footer_center {
  display: flex;
  justify-content: space-between;
}
.footer_link-title {
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 36px;
  margin-top: 50px;
  

}
.footer_link-items {
  margin-bottom: 10px;
}
.footer_link-link {
    font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 12px;
  text-decoration: none;
 
}
.footer_copyright{
    color:#FFFFFF;
    text-align: center;
    justify-content: space-between;
}
.input{
    height: 39px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
    margin-right: 60px;
    margin-bottom: 18px;
}
.input_info{
    width: 403px;
    height: 39px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
    margin-bottom: 16px;
}
.main_left{
    width: 70px;
    height: 70px;
    background: #21F7EC;
    border-radius: 50%;

}
.main_center{
    width: 70px;
    height: 70px;
    background: #33D3BC;
    border-radius: 50%;

}
.main_right{
    width: 70px;
    height: 70px;
    background: #18A5C6;
    border-radius: 50%;
    
}
.header_left{
    width: 70px;
    height: 70px;
    background: #D38F62;
    border-radius: 50%;
}
.header_center{
    width: 70px;
    height: 70px;
    background: #F94C43;
    border-radius: 50%;
}
.header_right{
    width: 70px;
    height: 70px;
    background: #D399FF;
    border-radius: 50%;
}
.last{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text1{
    text-align: center;
}
.comp{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.search{
    position: relative;
    z-index: 5;
}
.search:after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 52%;
    background-color: #F0F0F0;
    z-index: -3;
}
.footer_link-list{
    margin: 0;
    padding: 0;
    margin-right: 90px;
}
.footer_logo{
    margin-top: 50px;
}